<div id="c" class="carousel">
    <ul>
        <li class="slide">
            <img src="img/tees.jpg" alt="" class="slide-img" />
            <h4>Die losen Tees der Saison</h4>
            <p>
                Dies ist nur ein langweiliger Marketingtext im Karussell zum Thema Tee. Ein langweiliger Marketingtext im Karussell das ist zum Thema Tee.
                <a href="#">Zum Tee-Bereich</a>
            </p>
        </li>
        <li class="slide" >
            <img src="img/podcast.jpg" alt="" class="slide-img" />
            <h4>Neue Podcast-Kopfhörer eingetroffen!</h4>
            <p>
                Dies ist nur ein langweiliger Marketingtext im Karussell zum Thema Kopfhörer. Ein langweiliger Marketingtext im Karussell das ist zum Thema Kopfhörer.
                <a href="#">Zum Kopfhörer-Bereich</a>
            </p>
        </li>
        <li class="slide" >
            <img src="img/weed.jpg" alt="" class="slide-img" />
            <h4>Socken im „Ampel“-Design</h4>
            <p>Dies ist nur ein langweiliger Marketingtext im Karussell zum Thema Socken. Ein langweiliger Marketingtext im Karussell das ist zum Thema Socken.
                <a href="#">Zum Socken-Bereich</a>
            </p>
        </li>
    </ul>
</div>

