<div id="carousel" class="carousel">
    <ul>
        <li class="slide">
            <img src="img/tees.jpg" alt="Lose Tees auf goldenen Löffeln in Nahaufnahme." class="slide-img" />
            <h2>Die losen Tees der Saison</h2>
            <p>
                Dies ist nur ein langweiliger Marketingtext im Karussell zum Thema Tee. Ein langweiliger Marketingtext im Karussell das ist zum Thema Tee.
                <a href="#">Zum Tee-Bereich</a>
            </p>
        </li>
        <li class="slide" >
            <img src="img/podcast.jpg" alt="Eine begeisterte Frau mit Kopfhörern." class="slide-img" />
            <h2>Neue Podcast-Kopfhörer eingetroffen!</h2>
            <p>
                Dies ist nur ein langweiliger Marketingtext im Karussell zum Thema Kopfhörer. Ein langweiliger Marketingtext im Karussell das ist zum Thema Kopfhörer.
                <a href="#">Zum Kopfhörer-Bereich</a>
            </p>
        </li>
        <li class="slide" >
            <img src="img/weed.jpg" alt="Socken mit Mariuana-Pflanzen-Aufdruck, in rot, grün und gelb." class="slide-img" />
            <h2>Socken im „Ampel“-Design</h2>
            <p>Dies ist nur ein langweiliger Marketingtext im Karussell zum Thema Socken. Ein langweiliger Marketingtext im Karussell das ist zum Thema Socken.
                <a href="#">Zum Socken-Bereich</a>
            </p>
        </li>
    </ul>
</div>

