<dialog id="cookie-modal" aria-labelledby="cookie-modal-title" class="dialog dialog--cookie">
  <div class="dialog__content">

    <h1 id="cookie-modal-title" class="dialog__title">Wir nutzen Cookies <span aria-hidden="true">🍪</span></h1>

    <p class="dialog__text">Hier steht ein juristisch ausgefeilter Text, den keiner liest. Stattdessen wird der Dialog schnell weggeklickt.</p>


    <form method="dialog" class="dialog__button-row">
      <button class="button">Ich akzeptiere</button>
      <button class="button">Ich akzeptiere nicht</button>
    </form>
  </div>
</dialog>
