<footer class="footer">
  <div class="footer-inner">
  <h2 class="footer__headline">Hinweis zur Demo</h2>
  <p class="footer__text">Dieser Shop dient ausschließlich Demonstrations- und Trainingszwecken als Teil des Projektes <a class="footer__link" href="https://e-commerce-barrierefrei.de">e-commerce-barrierefrei.de</a>. Es werden keine Bestellungen entgegengenommen und es werden keine Waren ausgeliefert.</p>

  </div>
  <include src="partials/dialog.html"></include>
  <include src="partials/filterliveregion.html"></include>

</footer>
