<nav id="main-nav" class="mega-menu page-centered-content " aria-labelledby="main-nav-heading" data-menu-state="closed" data-responsive-width="900px">
  <button class="responsive-toggle" aria-expanded="false">
    <svg fill="currentCpö" olorcusable="false" ><use xlink:href="#icon-menu"></use></svg>
    Menu
  </button>
  <ul>
    <li>
      <a href="#">Kopfhörer</a>
      <button aria-expanded="false" class="mega-menu-toggle" aria-label="Untermenü">
        ▼      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="image-column">
            <a href="">
              <img src="https://loremflickr.com/200/160/cat?random=473" alt="random cat"/>
              <div>Look a Cat!!!</div>
            </a>
          </li>
          <li class="image-column">
            <a href="">
              <img src="https://loremflickr.com/200/160/cat?random=43" alt="random cat"/>
              <div>Look a Cat!!!</div>
            </a>
          </li>
          <li class="text-column">
            <div class="mega-sub-heading">Services</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Borrow Laptops and Gear</a></li>
              <li><a href="">Borrowing Process and Policies</a></li>
              <li><a href="">Course Reserves</a></li>
              <li><a href="">Interlibrary Loan</a></li>
              <li><a href="">Delivery Services</a></li>
              <li><a href="">Request Forms</a></li>
              <li><a href="">Suggest a Title</a></li>
              <li><a href="">University Records Management</a></li>
              <li><a href="">Special Collections Research Center</a></li>
              <li><a href="">Instructional Services</a></li>
            </ul>
          </li>
          <li class="text-column">
            <div class="mega-sub-heading">Help</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Accessibility and Disability Services</a></li>
              <li><a href="">Printing and Technology</a></li>
              <li><a href="">Connecting from Off-Campus</a></li>
              <li><a href="">Onsite Help at Bird Library</a></li>
              <li><a href="">Trouble with a Resource</a></li>
              <li><a href="">Help with Summon</a></li>
              <li><a href="">Subject Librarians</a></li>
              <li><a href="">Entreprenurial Help</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">Tee</a>

      <button aria-expanded="false" class="mega-menu-toggle" aria-label="Untermenü">
        ▼      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="image-column">
            <a href="">
              <img src="https://loremflickr.com/160/100/cat?random=1" alt="random cat"/>
              <div>Look a Cat!!!</div>
            </a>
          </li>
          <li class="text-column">
            <div class="mega-sub-heading">Spaces</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Floor Maps</a></li>
              <li><a href="">Service Desks</a></li>
              <li><a href="">Pages Cafe</a></li>
              <li><a href="">Study and Meeting Spaces</a></li>
              <li><a href="">Blackstone LaunchPad</a></li>
              <li><a href="">Faculty Research Commons</a></li>
            </ul>
          </li>
          <li class="text-column">
            <div class="mega-sub-heading">Libraries</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Bird Library</a></li>
              <li><a href="">Carnegie Library</a></li>
              <li><a href="">King + King Library</a></li>
              <li><a href="">SU College of Law Library</a></li>
              <li><a href="">Martin Luther King Jr. Library</a></li>
              <li><a href="">F. Franklin Moon Library (ESF)</a></li>
              <li><a href="">Special Collections Research Center</a></li>
            </ul>
          </li>
          <li class="text-column">
            <div class="mega-sub-heading">Partners</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Center for Learning and Student Success (CLASS)</a></li>
              <li><a href="">Syracuse Abroad @ Bird</a></li>
              <li><a href="">Syracuse Office of Undergraduate Research and Creative Engagement (SOURCE)</a></li>
              <li><a href="">Digital Scholarship Space (DSS)</a></li>
              <li><a href="">Center for Teaching and Learning Excellence</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">Socken</a>

      <button aria-expanded="false" class="mega-menu-toggle" aria-label="Untermenü">
        ▼
      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="image-column">
            <a href="">
              <img src="https://loremflickr.com/160/100/cat?random=4" alt="random cat"/>
              <div>Look a Cat!!!</div>
            </a>
          </li>
          <li class="image-column">
            <a href="">
              <img src="https://loremflickr.com/160/100/cat?random=5" alt="random cat"/>
              <div>Look a Cat!!!</div>
            </a>
          </li>
          <li class="text-column">
            <div class="mega-sub-heading">Research Support</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">General Research</a></li>
              <li><a href="">In-Depth Research</a></li>
              <li><a href="">Research and Course Guides</a></li>
              <li><a href="">Subject Areas</a></li>
              <li><a href="">Research Process</a></li>
              <li><a href="">Subject Librarians</a></li>
              <li><a href="">Special Collections Research Center</a></li>
            </ul>
          </li>
          <li class="text-column">
            <div class="mega-sub-heading">Services and Tools</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Workshops</a></li>
              <li><a href="">Citing Sources</a></li>
              <li><a href="">Citation Management Tools</a></li>
              <li><a href="">Experts@Syracuse</a></li>
              <li><a href="">Research Data Services</a></li>
              <li><a href="">Writing Center</a></li>
              <li><a href="">Plagiarism Checker</a></li>
              <li><a href="">SU Press</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">Kissen</a>
      <button aria-expanded="false" class="mega-menu-toggle" aria-label="Untermenü">
        ▼      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="text-column">
            <div class="mega-sub-heading">Special Collections</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Collection Areas</a></li>
              <li><a href="">Digital Collections</a></li>
              <li><a href="">Pan Am 103</a></li>
              <li><a href="">University Archives</a></li>
              <li><a href="">Search the Collections</a></li>
            </ul>
          </li>
          <li class="text-column">
            <div class="mega-sub-heading">Digital Library</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Digital Collections Repository</a></li>
              <li><a href="">SURFACE Institutional Repository</a></li>
              <li><a href="">Digital Exhibits</a></li>
            </ul>
          </li>
          <li class="text-column double">
            <div class="mega-sub-heading">General</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Ebooks</a></li>
              <li><a href="">Journals</a></li>
              <li><a href="">Databases</a></li>
              <li><a href="">Videos and Film</a></li>
              <li><a href="">Data Sources</a></li>
              <li><a href="">Federal Depository Library Program (FDLP)</a></li>
              <li><a href="">Maps and Government Information</a></li>
              <li><a href="">Music Scores and Sheet Music</a></li>
              <li><a href="">Newspapers</a></li>
              <li><a href="">HathiTrust</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">Dekorationen</a>

      <button aria-expanded="false" class="mega-menu-toggle" aria-label="Untermenü">
        ▼      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="image-column">
            <a href="">
              <img src="https://loremflickr.com/180/100/cat?random=4" alt="random cat"/>
              <div>Look a Cat!!!</div>
            </a>
          </li>
          <li class="image-column">
            <a href="">
              <img src="https://loremflickr.com/150/150/cat?random=5" alt="random cat"/>
              <div>Look a Cat!!!</div>
            </a>
          </li>
          <li class="text-column double">
            <ul class="mega-menu-bulleted">
              <li><a href="">Policies and Procedures</a></li>
              <li><a href="">Strategic Plan</a></li>
              <li><a href="">Publications</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="">Staff Directory</a></li>
              <li><a href="">Equity, Diversity, Accessibility, and Inclusion</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Events</a></li>
              <li><a href="">Exhibitions</a></li>
              <li><a href="">Job Opportunities</a></li>
              <li><a href="">Give to the Libraries</a></li>
              <li><a href="">Departments</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

