<nav id="main-nav" class="mega-menu page-centered-content " aria-labelledby="main-nav-heading" data-menu-state="closed" data-responsive-width="1000px">
  <button class="responsive-toggle mega-menu__mobile-trigger" aria-expanded="false">
    <svg fill="none" height="165" viewBox="0 0 297 165" width="297" xmlns="http://www.w3.org/2000/svg"><g fill="#1d344d"><path d="m0 12.5c0-6.90356 5.59644-12.5 12.5-12.5h272c6.904 0 12.5 5.59644 12.5 12.5 0 6.9036-5.596 12.5-12.5 12.5h-272c-6.90356 0-12.5-5.5964-12.5-12.5z"/><path d="m0 82.5c0-6.9036 5.59644-12.5 12.5-12.5h272c6.904 0 12.5 5.5964 12.5 12.5s-5.596 12.5-12.5 12.5h-272c-6.90356 0-12.5-5.5964-12.5-12.5z"/><path d="m0 152.5c0-6.904 5.59644-12.5 12.5-12.5h272c6.904 0 12.5 5.596 12.5 12.5s-5.596 12.5-12.5 12.5h-272c-6.90356 0-12.5-5.596-12.5-12.5z" aria-hidden="true"/></g></svg>
    Menu
  </button>
  <ul class="mega-menu__sub-menu">
    <li>
      <button aria-expanded="false" class="mega-menu-toggle">
        Uhren
      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul class="">
          <li class="image-column">
            <a href="">
              <img src="img/edeluhren.jpg" alt="Silberne Uhr mit Stahlarmband und schwarz-bauem Ring"/>
              <div>Edeluhren</div>
            </a>
          </li>
          <li class="image-column">
            <a href="">
              <img src="img/smartwatches.jpg" alt="Apple Watch"/>
              <div>Smart Watches</div>
            </a>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Uhren</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Edeluhren</a></li>
              <li><a href="">Unisex-Uhren</a></li>
              <li><a href="">Smart Watches</a></li>
              <li><a href="">Edeluhren</a></li>
              <li><a href="">Unisex-Uhren</a></li>
              <li><a href="">Smart Watches</a></li>
              <li><a href="">Edeluhren</a></li>
              <li><a href="">Unisex-Uhren</a></li>

            </ul>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Zubehör</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Für Edeluhren</a></li>
              <li><a href="">Für Unisex-Uhren</a></li>
              <li><a href="">Für Smart Watches</a></li>
              <li><a href="">Für Edeluhren</a></li>
              <li><a href="">Für Unisex-Uhren</a></li>
              <li><a href="">Für Smart Watches</a></li>
              <li><a href="">Für Edeluhren</a></li>
              <li><a href="">Für Unisex-Uhren</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button aria-expanded="false" class="mega-menu-toggle">
        Seifen
      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="image-column">
            <a href="">
              <img src="img/naturseifen.jpg" alt="random cat"/>
              <div>Naturseifen</div>
            </a>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Model "Fight Club"</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Rot</a></li>
              <li><a href="">Gelb</a></li>
              <li><a href="">Blau</a></li>
              <li><a href="">Weiß</a></li>
              <li><a href="">Grau</a></li>
              <li><a href="">Olive</a></li>
            </ul>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Naturseifen</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Thymian</a></li>
              <li><a href="">Dill</a></li>
              <li><a href="">Straciatella</a></li>
              <li><a href="">Vanille</a></li>
              <li><a href="">Minze</a></li>
              <li><a href="">Thymian</a></li>
              <li><a href="">Dill</a></li>
            </ul>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Flüssigseifen</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Türquis</a></li>
              <li><a href="">Weiß</a></li>
              <li><a href="">Hellgrün</a></li>
              <li><a href="">Rosa</a></li>
              <li><a href="">Olive</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button aria-expanded="false" class="mega-menu-toggle">
        Kaffee
      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="image-column">
            <a href="">
              <img src="img/pour-over.jpg" alt="Trapezförmige Kaffe-Karaffe"/>
              <div>Pour Over</div>
            </a>
          </li>
          <li class="image-column">
            <a href="">
              <img src="img/bohnen.jpg" alt="Geröstete Kaffeebohnen"/>
              <div>Bohnen</div>
            </a>
          </li>
          <li class="text-column">
            <div class="mega-sub-heading">Gläser und Tassen</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Eiskaffee-Gläser</a></li>
              <li><a href="">Latte-Macchiato-Gläser</a></li>
              <li><a href="">Mottotassen</a></li>
              <li><a href="">Klassische Tassen</a></li>
              <li><a href="">Eiskaffee-Gläser</a></li>
              <li><a href="">Latte-Macchiato-Gläser</a></li>
              <li><a href="">Mottotassen</a></li>
            </ul>
          </li>
          <li class="text-column">
            <div class="mega-sub-heading">Pour-Over-Karaffen</div>
            <ul class="mega-menu-bulleted">
              <li><a href="">Marken-Karaffen</a></li>
              <li><a href="">Einfache Formen</a></li>
              <li><a href="">Coffeshop-Modelle</a></li>
              <li><a href="">Zylinder</a></li>
              <li><a href="">Marken-Karaffen</a></li>
              <li><a href="">Einfache Formen</a></li>
              <li><a href="">Coffeshop-Modelle</a></li>
              <li><a href="">Zylinder</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button aria-expanded="false" class="mega-menu-toggle">
        Tee
      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="image-column">
            <a href="">
              <img src="img/loser-tee.jpg" alt="Löser Tee in Nahaufnahme"/>
              <div>Loser Tee</div>
            </a>
          </li>
          <li class="image-column">
            <a href="">
              <img src="img/tee-behälter.jpg" alt="Keramik-Teekanne mit japanischen Schriftzeichen"/>
              <div>Behälter</div>
            </a>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Loser Tee</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Grüne Tees</a></li>
              <li><a href="">Schwarztees</a></li>
              <li><a href="">Früchtetees</a></li>
              <li><a href="">Kräutertees</a></li>
              <li><a href="">Grüne Tees</a></li>
              <li><a href="">Schwarztees</a></li>
              <li><a href="">Früchtetees</a></li>
            </ul>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Teebeutel</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Grüne Tees</a></li>
              <li><a href="">Schwarztees</a></li>
              <li><a href="">Früchtetees</a></li>
              <li><a href="">Kräutertees</a></li>
              <li><a href="">Grüne Tees</a></li>
              <li><a href="">Schwarztees</a></li>
              <li><a href="">Früchtetees</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button aria-expanded="false" class="mega-menu-toggle">
        Küche
      </button>
      <div class="mega-sub-menu" tabindex="-1">
        <ul>
          <li class="text-column">
            <h2 class="mega-sub-heading">Messer</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Japanisch</a></li>
              <li><a href="">Klassisch</a></li>
              <li><a href="">Obstmesser</a></li>
              <li><a href="">Schärfsteine</a></li>
              <li><a href="">Japanisch</a></li>
            </ul>
          </li>
          <li class="text-column">
            <h2 class="mega-sub-heading">Gläser</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Weißwein</a></li>
              <li><a href="">Rotwein</a></li>
              <li><a href="">Cocktail</a></li>
              <li><a href="">Whiykey</a></li>
            </ul>
          </li>
          <li class="text-column double">
            <h2 class="mega-sub-heading">Teller</h2>
            <ul class="mega-menu-bulleted">
              <li><a href="">Suppenteller</a></li>
              <li><a href="">Flache Teller</a></li>
              <li><a href="">Eckige Teller</a></li>
              <li><a href="">Suppenteller</a></li>
              <li><a href="">Flache Teller</a></li>
              <li><a href="">Eckige Teller</a></li>
              <li><a href="">Suppenteller</a></li>
              <li><a href="">Flache Teller</a></li>
              <li><a href="">Eckige Teller</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

