<h2>Neuerscheinungen</h2>


<include src="partials/produktfilter.html"></include>

<ul id="produktliste">
  <li v-for="product in sortedProducts"  :hidden="isFiltered(product)">
    <img :src="product.img_url" :alt="product.img_alt" />
    <strong>{{product.name}}</strong>
    <p>€ {{product.price / 100}}</p>
    <button
      @click="toggleCartItem(product.id)"
      v-text="!isInCart(product.id) ? 'In den Warenkorb legen' : 'Aus dem Warenkorb entfernen'"
      :aria-pressed="!isInCart(product.id) ? 'false' : 'true'"
    ></button>
  </li>
</ul>
