<h2>Neuerscheinungen</h2>


<include src="partials/produktfilter.html"></include>

<ul id="produktliste" class="product-list">
  <li v-for="product in sortedProducts" class="product-list__product">
    <div>
    <img class="product-list__image" :src="product.img_url" :alt="product.img_alt" />
    </div>
    <div>
    <strong>{{product.name}}</strong>
    <p>€ {{product.price / 100}}</p>
    <button class="button"
      @click="toggleCartItem(product.id)"
      v-text="!isInCart(product.id) ? 'In den Warenkorb legen' : 'Aus dem Warenkorb entfernen'"
      :aria-pressed="!isInCart(product.id) ? 'false' : 'true'"
    ></button>
    </div>
  </li>
</ul>
