<a href="#produktliste" class="skiplink">Zur Produktliste</a>
<div class="product-list__options">

    <label class="product-list__label" for="sort">Sortierichtung:</label>
    <select class="product-list__select" id="sort" name="sort" @change="changeSort">
      <option value="" checked></option>
      <option value="name-desc">Alphabetisch, Z - A</option>
      <option value="name-asc">Alphabetisch, A - Z</option>
      <option value="price-asc">Preis, niedrigste zuerst</option>
      <option value="price-desc">Preis, teuerste zuerst</option>
    </select>

</div>



