<div class="xmas-animation-control">
    <button id="xmas-ani-toggle" aria-pressed="false"><span aria-hidden="true">▶️</span><span aria-hidden="true">⏸</span>Animation reduzieren</button>
</div>
<div class="xmas">
    <div class="xmas-row">
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
    </div>
    <div class="xmas-row">
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
    </div>
    <div class="xmas-row">
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
    </div>
    <div class="xmas-row">
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
    </div>
    <div class="xmas-row">
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
    </div>
    <div class="xmas-row">
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
    </div>
    <div class="xmas-row">
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
    </div>
    <div class="xmas-row">
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
    </div>
    <div class="xmas-row">
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
        <div class="xmas-tree">
            <div class="xmas-tree_branch"></div>
            <div class="xmas-tree_branch"></div>
        </div>
    </div>
    <div class="xmas-row">
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
        <div class="xmas-pine">
            <div class="xmas-pine_branch"></div>
            <div class="xmas-pine_branch"></div>
        </div>
    </div>
</div>
<h1 class="h1">Merry Little Christmas</h1>
