body {
    font-family: 'Schibsted Grotesk', sans-serif;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

@import "scss/logo";
@import "scss/header";
@import "scss/layout";
@import "scss/main-nav";
@import "scss/a11y";
@import "scss/carousel";
@import "scss/wintersale";
@import "scss/forms";
@import "scss/combobox";
@import "scss/suchergebnis";
@import "scss/modal";

