:root {
  --input-height: 3rem;
  --border-radius: 7px;
  --input-width-auto: auto;
  --input-width-min: 30rem;
  --input-width-min-medium: 20rem;
  --input-width-max: 50rem;
}

ecbf-combobox-search {
  position: relative;

  @media (screen and width < 600) {
    display: flex;
    width: 100%;
  }
}

ecbf-combobox-search .group {
  display: inline-flex;
  cursor: pointer;
}

ecbf-combobox-search input,
ecbf-combobox-search button {
  font: inherit;
  background-color: white;
  color: black;
  box-sizing: border-box;
  height: var(--input-height);
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: 1px solid gray;
  position: relative;
  cursor: pointer;
}

ecbf-combobox-search button {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

}

ecbf-combobox-search input {
  //width: 700px;
  border-right: none;
  outline: none;
  font-size: inherit;
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 .75rem;

  &::placeholder {
    //color: #323131;
    opacity: .6;
  }

  &[aria-expanded="true"] ~ [role="listbox"] {
    display: block;
  }
}

ecbf-combobox-search button[type="submit"] {
  width: 2.5rem;
  padding: 0 .75rem;
  margin-left: -.25rem;
  border-left: none;
  color: rgb(0 90 156);
}

.ecbf-combobox-search-results-group-section:has(ul:empty) {
  display: none;
}

[role="listbox"] {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1em;
  z-index: 300;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.5) 0 4px 6px -1px, rgba(0, 0, 0, 0.33) 0 2px 4px -2px;
}

[role="listbox"] [role="group"] {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  max-height: 250px;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 87.5%;
  cursor: pointer;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--blue) #fff;
  padding-right: 1rem;

  &:empty {
    border: none;
  }

}

ul[role="listbox"] li[role="option"] {
  margin: 0;
  display: block;
  padding-left:6px;
  padding-top: 8px;
  padding-bottom: 8px;
}

[role="option"][aria-selected="true"] {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: bold;
}

ecbf-combobox-search .group.focus polygon,
ecbf-combobox-search .group:hover polygon {
  fill-opacity: 1;
}

ecbf-combobox-search-list {
  position: relative;
}

ecbf-combobox-search .group {
  display: inline-flex;
  cursor: pointer;
}

ecbf-combobox-search input,
ecbf-combobox-search button {
  background-color: white;
  color: black;
  box-sizing: border-box;
  height: var(--input-height);
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: 1px solid gray;
  position: relative;
  cursor: pointer;
}

ecbf-combobox-search button {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

}

ecbf-combobox-search input {
  min-width: var(--input-width-min);
  max-width: var(--input-width-max);
  width: auto;
  border-right: none;
  outline: none;
  font-size: inherit;
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 .75rem;

  &[aria-expanded="true"] + button + [role="listbox"] {
    display: block;
  }

  @media (max-width: 65em) {
    min-width: var(--input-width-min-medium);
    width: calc(100% - 3.5rem);
    //box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  }

  @media (max-width: 40em) {
    min-width: 0;
    width: calc(100vw - 3.5rem);
  }
}

ecbf-combobox-search a {
  text-decoration: none;
  color: var(--blue);
}

ecbf-combobox-search ul[data-pages-list] li {
  margin-bottom: .5rem;
}

ecbf-combobox-search ul[data-products-list] li {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  margin-right: .75rem;
  gap: .5em;

  img {
    flex: 0;
  }

  a {
    font-weight: bold;
    justify-content: start;
    flex: 1;
  }

  .preis {
    justify-content: end;
  }
}

#ecbf-combobox-search-results-groups-wrapper {
  width: var(--input-width);
  display: grid;
  grid-template-areas: "products pages"
                        "search search";
  gap: 1rem;
  grid-template-columns: 50% 50%;

  @media (max-width: 40em) {
    width: auto;
    grid-template-columns: 100%;
    grid-template-areas: "products"
                         "pages"
                         "search";
  }
}

.ecbf-combobox-search-results-group-section--products {
  grid-area: products;
}

.ecbf-combobox-search-results-group-section--pages {
  grid-area: pages;
}

.ecbf-combobox-search-results-search {
  grid-area: search;
  border: none;

  .icon {
    width: 1em;
  }
}


ecbf-combobox-search button {
  padding: 0 .75rem;
  margin-left: -.25rem;
  border-left: none;
  outline: none;
  color: rgb(0 90 156);
}

.combobox-list h3 {
  margin-block-start: 0;
}

[role="listbox"] {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1EM;
  z-index: 300;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.5) 0 4px 6px -1px, rgba(0, 0, 0, 0.33) 0 2px 4px -2px;

  @media (max-width: 40em) {
    top: 3rem;
  }
}

[role="listbox"] [role="group"] {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  max-height: 250px;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 87.5%;
  cursor: pointer;

  @media (max-width: 40em) {
    overflow: auto;
    max-height: max-content;
  }


  &:empty {
    border: none;
  }

}

[role="listbox"] h2:first-of-type {
  margin-top: 0;
}

ul[role="listbox"] li[role="option"] {
  margin: 0;
  display: block;
  padding-left: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
}


ecbf-combobox-search .group.focus polygon,
ecbf-combobox-search .group:hover polygon {
  fill-opacity: 1;
}

[role="listbox"].focus [role="option"][aria-selected="true"],
[role="listbox"] [role="option"]:hover {
  text-decoration: underline;
}
