.footer {
  border-top: 1px solid #e5e7eb;
  padding: 2rem;
  background-color: var(--blue);
  color: #fff;

  @media (max-width: 20em) {
    padding: 1rem;
  }

  h2 {
    margin-top: 0;
  }

  a {
    color: inherit;
  }
}
