.form__error {
  margin: .5em 0;
  background-color: rgb(120, 2, 2);
  padding: .25em;
  color: #fff;
}

.password-show-wrapper {
  position: relative;
}


                                                       .button {
  all: unset;
  background-color: var(--blue);
  padding: .5rem .75rem;
  color: #fff;
  font-size: 90%;

  &[aria-pressed="true"] {
    background-color: var(--red);
  }
}

.button--order {
  margin-top: 2rem;
}

.input-box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "label input"
                       "error error";
  margin-top: 1rem;

  @media (max-width: 40em) {
    grid-template-columns: 1fr;
    grid-template-areas: "label"
                        "input"
                        "error";
  }

}

input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
  grid-area: input;
  height: 1.5em;
  padding: .25em;
  font: inherit;
  border: 1px solid var(--blue);
  background-color: transparent;
}

input[type="radio"], input[type="checkbox"] {
  accent-color: var(--blue);
  border: 1px solid var(--blue);
  background-color: transparent;
}

button * {
  pointer-events: none;
}


main fieldset {
  border: none;
  padding: 0;
  margin: 1rem 0;

  legend {
    margin-bottom: .5rem;
  }
}

.form__label {
  flex-basis: 50%;
  grid-area: label;
}

.input-box .form__error {
  grid-area: error;
}

.new-password:has(+ .form__password-switch) {
  width: calc(100% - 3.5rem);
}

.form__password-switch {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 0 .5rem;


  &[aria-pressed="true"] {
    .hide {
      display: block;
    }

    .show {
      display: none;
    }
  }

  &[aria-pressed="false"] {
    .hide {
      display: none;
    }

    .show {
      display: block;
    }
  }
}
