.form__error {
  margin: 0;
  color: rgb(120, 2, 2);
}

.button {
  all: unset;
  background-color: var(--blue);
  padding: .5rem .75rem;
  color: #fff;
  font-size: 90%;

  &[aria-pressed="true"] {
    background-color: var(--red);
  }
}

.input-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "label input"
                       "error error";
  margin-top: 1rem;


}

input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
  grid-area: input;
  height: 1.5em;
  padding: .25em;
  font: inherit;
  border: 1px solid var(--blue);
  background-color: transparent;
}

input[type="radio"], input[type="checkbox"] {
  accent-color: var(--blue);
  border: 1px solid var(--blue);
  background-color: transparent;
}

button * {
  pointer-events: none;
}


main fieldset {
  border: none;
  padding: 0;
  margin: 1rem 0;

  legend {
    margin-bottom: .5rem;
  }
}

.form__label {
  flex-basis: 50%;
  grid-area: label;
}

.input-box .form__error {
  grid-area: error;
}
