.header-layout {
  display: grid;
  grid-template-areas:
    "logo search cardbutton accountbutton"
    "menu menu menu menu";
  gap: 1.5rem 0;
  grid-template-columns: 3rem 1fr 10rem 10rem;

  @media (max-width: 60em) {
    grid-template-areas:
      "logo logo menu"
      "search cardbutton accountbutton";
    grid-template-columns: 2fr fit-content(8ch) fit-content(8ch);
    grid-template-rows: 1fr .5fr;
    gap: 1rem;
  }
}

main {
  background-color: rgb(250, 251, 252);
  padding: 1rem 2rem;

  @media (max-width: 20em) {
    padding: 1rem;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 125ch;
  }

  .wrapper__inner {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

