.header-layout {
  display: grid;
  grid-template-areas:
    "logo search cardbutton accountbutton"
    "menu menu menu menu";
  gap: 0;
  grid-template-columns: 1fr 1fr 10rem 10rem;
}

main {
  background-color: rgb(250, 251, 252);
  padding: 1rem 2rem;

  .wrapper {
    margin: 0 auto;
    max-width: 125ch;
  }

  .wrapper__inner {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}


@media (max-width: 40em) {
  .header-layout {
    grid-template-areas:
      "logo"
      "search"
      "cardbutton"
      "accountbutton"
      "menu";
  }
}
