 .dialog-content {
   background-color: white;

   &.fifty {
     position: fixed;
    right: 0;
    left: 50vw;
    bottom: 0;
    top: 0;


     @media (max-width: 40em) {
       width: auto;
       inset: 5vw;
     }


   }
 }
dialog {
  margin: 0;
  padding: 0;
  border: 0;
}
 dialog::backdrop {
   background: rgba(0, 0, 0, .65);
   backdrop-filter: blur(4px);

 }
