#trigger-big-image-dialog {
  background-color: transparent;
  border-color: transparent;
  opacity: .5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 0;
  cursor: zoom-in;
}

.img-container {
  position: relative;
}

.product-facts {
  list-style: square;
  margin-inline-start: 1rem;
  padding-inline-start: 0;
  line-height: 1.5;

  li {
    margin-inline-start: .5rem;
  }
}

.product__disclosure,
.product__size-switcher {
  margin-block-end: 1.5em;
}

.product__properties {
  display: grid;
  gap: .5rem;
  grid-template-columns: 25% 75%;
  margin-inline-start: 1rem;


  dt {
    font-weight: bold;
  }

  dd {
    padding-inline-start: 0;
    margin-inline-start: 1rem;
  }
}

.product__table {
  margin: 1rem;

  td {
    padding: .5rem .5rem .5rem 0;
  }

  th {
    padding-inline-end: 1rem;
    text-align: left;
  }
}

.product-order-button {
  font-size: 1.1rem;
}

.product__image{
  max-width: 100%;
}
