#produktliste {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 2rem 0;

  @media (max-width: 60em) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 40em) {
    grid-template-columns: 1fr;
  }

  li {
    padding: 0;
    margin: 0;
  }
}

.product-options {
  display: flex;
  justify-content: end;
  gap: 2rem;

  @media (max-width: 40em) {
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
  }
}
