#produktliste {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 2rem 0;

  li {
    padding: 0;
    margin: 0;
    //display: grid;

    img {
      margin-bottom: .5rem;
    }

    gap: 1rem;

    //@media (max-width: 40em) {
    //  grid-template-columns: 1fr;
    //}

    img {
      width: 100%;
    }
  }
}

.product-options {
  display: flex;
  justify-content: end;
  gap: 2rem;

  select {
    height: 1.5em;
    font: inherit;
    border: 1px solid var(--blue);
    background-color: transparent;
  }

  @media (max-width: 40em) {
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;

    label {
      margin-bottom: .5rem;
    }
  }
}
