#produktliste {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 2rem 0;

  li {
    padding: 0;
    margin: 0;
    //display: grid;

    gap: 1rem;

    //@media (max-width: 40em) {
    //  grid-template-columns: 1fr;
    //}

    img {
      width: 100%;
    }
  }
}

.product-options {
  display: flex;
  justify-content: end;
  gap: 2rem;

  @media (max-width: 40em) {
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
  }
}
